import random
def number():
    front = [str(random.randint(1,35) )for i in range(5)]
    back = [str(random.randint(1,12)) for i in range(2)]
    space = [" "*6]
    group = front + space + back
    for i in group:
        print(i.zfill(2),end=" ")
print("Lotto number generator")
amount = int(input("Please enter the number of tickets to generate:"))
for i in range(amount):
    number()
    print("")
